.navbar {
  position: absolute;
  bottom: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: darkgrey;
  padding: 10px;
}

.navIcon {
  border-radius: 15px;
}

.topHeader {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.searchBar {
  height: 35px;
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  outline: none;
}